<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="onisino.eatoncampus.Mapper.DishMapper">

    <resultMap id="DishMap" type="onisino.eatoncampus.entity.Dish">
        <id property="dishId" column="dish_id"/>
        <result property="dishName" column="dish_name"/>
        <result property="dishDescription" column="dish_description"/>
        <result property="storeId" column="store_id"/>
        <result property="dishPictureId" column="dish_picture_id"/>
        <result property="dishPrice" column="dish_price"/>
        <result property="dishNumber" column="dish_number"/>
        <result property="dishSale" column="dish_sale"/>
    </resultMap>

    <select id="SelectAllDish" resultMap="DishMap">
        select * from dish
    </select>

    <select id="SelectDishInStore" resultMap="DishMap">
        select * from dish where store_id=#{storeId}
    </select>
</mapper>